@import url('../common.css');

.t_3{
    width:607px; height:607px;
    background: url('photo01.jpg') no-repeat;
    margin:100px auto;
/*    padding:200px;*/
    overflow:hidden;
    font-size:20px;
}
.t_3 h1{
    color:white;
    white-space: pre-line;
    margin:260px 0;
    text-align:center;
    
    font-family: 'Mistral';
    font-size:60px;
    font-weight:normal;
}




.t_3_2{
    width:607px; margin:0 auto;
    position:relative;
    left:0; top:0;
}
.t_3_2 h1{
    position:absolute;
    left:calc(50% -76px);
    top:calc(50% -40px);
    color:#fff;
    white-space: pre-line;
}
.t_3_2 img{width:100%;}






.t_3_3{width:1400px; margin:100px auto;}
.t_3_3:after{
    content:'';
    display:block;
    clear:both;
}
.t_3_3 .t_3_2:nth-of-type(1){
    float:left;
}
.t_3_3 .t_3_2:nth-of-type(2){
    float:right;
}


.t_3_3 .t_3_2 h1{
    line-height:6;
    opacity:0;
    transition:.5s;
}

.t_3_3 .t_3_2:hover h1{
    line-height:1;
    opacity:1;
}





